In [1]:
!python -V

Python 3.9.12

In [2]:
import os
import pandas as pd
# from ydata_profiling import ProfileReport

/home/mlops_zoomcamp/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/mlops_zoomcamp/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [3]:
DATA_COMPANY = "historical_info_ISA_Interconnection_Electric.csv"
DATA_FOLDER = "../data/"
FINAL_FILES_PATH = os.path.join(DATA_FOLDER, DATA_COMPANY)

In [22]:
def read_data_stock(name_file: str):
    primary_dataset = pd.read_csv(name_file)
    return primary_dataset

In [5]:
def profiling_eda_report(dataset: pd.DataFrame):
    report = dataset.profile_report(sort='ascending', html={'style':{'full_width':True}})
    return report

In [23]:
def transform_type_columns(dataset: pd.DataFrame):
    """
    """
    date_columns = 'Fecha'
    price_columns = ['Último', 'Apertura', 'Máximo', 'Mínimo']
    volume_column = 'Vol.'
    variation_column = '% var.'

    dataset[date_columns] = dataset[date_columns].str.replace(".", "-", regex=False)    

    for e in price_columns:
        dataset[e] = dataset[e].str.replace(".", "").str.replace(",", ".").astype(float)


    dataset[volume_column] = dataset[volume_column].str.replace(",", ".")
    dataset[volume_column] = dataset[volume_column].apply(lambda x: float(x.replace('K', '')) * 1000 if 'K' in x
                                                          else float(x.replace('M', '')) * 1000000 if 'M' in x
                                                          else float(x)
                                                         )

    dataset[variation_column] = dataset[variation_column].astype(str).str.replace('%', '').str.replace(',', '.').astype(float) / 100    
    

    return dataset

In [24]:
initial_info = read_data_stock(FINAL_FILES_PATH)
initial_info.head(2)

        Fecha    Último  Apertura    Máximo    Mínimo     Vol.  % var.
0  08.07.2024  18.400,0  18.300,0  18.400,0  18.300,0  199,41K   0,44%
1  05.07.2024  18.320,0  18.320,0  18.360,0  18.240,0  278,23K  -0,33%

In [25]:
initial_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     485 non-null    object
 1   Último    485 non-null    object
 2   Apertura  485 non-null    object
 3   Máximo    485 non-null    object
 4   Mínimo    485 non-null    object
 5   Vol.      485 non-null    object
 6   % var.    485 non-null    object
dtypes: object(7)
memory usage: 26.6+ KB

In [26]:
# profiling_eda_report(initial_info)

In [27]:
dataset_types = transform_type_columns(initial_info)
dataset_types

          Fecha   Último  Apertura   Máximo   Mínimo      Vol.  % var.
0    08-07-2024  18400.0   18300.0  18400.0  18300.0  199410.0  0.0044
1    05-07-2024  18320.0   18320.0  18360.0  18240.0  278230.0 -0.0033
2    04-07-2024  18380.0   18360.0  18480.0  18300.0   75730.0  0.0044
3    03-07-2024  18300.0   18320.0  18480.0  18260.0  140770.0  0.0055
4    02-07-2024  18200.0   18240.0  18400.0  18200.0  369710.0  0.0000
..          ...      ...       ...      ...      ...       ...     ...
480  15-07-2022  21490.0   21000.0  21490.0  19600.0  119400.0  0.0137
481  14-07-2022  21200.0   21500.0  21500.0  21000.0  526640.0 -0.0140
482  13-07-2022  21500.0   21600.0  21600.0  21200.0  134880.0  0.0000
483  12-07-2022  21500.0   21300.0  21600.0  21260.0  131430.0  0.0094
484  11-07-2022  21300.0   21620.0  21620.0  21300.0  401920.0 -0.0397

[485 rows x 7 columns]

In [28]:
dataset_types.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     485 non-null    object
 1   Último    485 non-null    float64
 2   Apertura  485 non-null    float64
 3   Máximo    485 non-null    float64
 4   Mínimo    485 non-null    float64
 5   Vol.      485 non-null    float64
 6   % var.    485 non-null    float64
dtypes: float64(6), object(1)
memory usage: 26.6+ KB