In [ ]:
!python -V

In [1]:
import os
import pandas as pd
from ydata_profiling import ProfileReport

In [2]:
DATA_COMPANY = "historical_info_ISA_Interconnection_Electric.csv"
DATA_FOLDER = "../data/"
FINAL_FILES_PATH = os.path.join(DATA_FOLDER, DATA_COMPANY)

In [3]:
def read_data_stock(name_file: str):
    primary_dataset = pd.read_csv(name_file)
    return primary_dataset

In [4]:
def profiling_eda_report(dataset: pd.DataFrame):
    report = dataset.profile_report(sort='ascending', html={'style':{'full_width':True}})
    return report

In [5]:
def transform_type_columns(dataset: pd.DataFrame):
    price_columns = ['Último', 'Apertura', 'Máximo', 'Mínimo']
    volume_colums = 'Vol.'
    date_columns = 'Fecha'

    for e in range(len(price_columns)):
        dataset[price_columns[e]].str.replace(".", "").str.replace(",", ".").astype(float)


    dataset[volume_colums] = dataset[volume_colums].str.replace(",", ".").str.replace("K", "").astype(float)
    dataset[volume_colums] = dataset[volume_colums] * 1000
    

    dataset[date_columns] = dataset[date_columns].str.replace(".", "-", regex=False)

    return dataset.columns

In [6]:
initial_info = read_data_stock(FINAL_FILES_PATH)
initial_info.head(2)

        Fecha    Último  Apertura    Máximo    Mínimo     Vol.  % var.
0  08.07.2024  18.400,0  18.300,0  18.400,0  18.300,0  199,41K   0,44%
1  05.07.2024  18.320,0  18.320,0  18.360,0  18.240,0  278,23K  -0,33%

In [ ]:
type(initial_info.Último)

In [ ]:
profiling_eda_report(initial_info)

In [7]:
dataset_types = transform_type_columns(initial_info)
dataset_types

ValueError: could not convert string to float: '3.33M'